<div class="dashboard-items print-hidden">
  <div class="dashboard-item barangays">
    <div>
      <h1><%= Barangay.all.count %></h1>
      <h3>Total Barangays</h3>
    </div>
  </div>
  <div class="dashboard-item evacuation-areas">
    <div>
      <h1><%= EvacuationArea.all.count %></h1>
      <h3>Total Evacuation areas</h3>
    </div>
  </div>
  <div class="dashboard-item tsunamis">
    <div>
      <h1><%= TsunamiArea.all.count %></h1>
      <h3>Total Tsunamis</h3>
    </div>
  </div>
  <div class="dashboard-item floods">
    <div>
      <h1><%= Flood.all.count %></h1>
      <h3>Total Flooded Areas</h3>
    </div>
  </div>
  <div class="dashboard-item storm-surges">
    <div>
      <h1><%= StormSurge.all.count %></h1>
      <h3>Storm Surges</h3>
    </div>
  </div>
  <div class="dashboard-item admin-users">
    <div>
      <h1><%= AdminUser.all.count %></h1>
      <h3>Total Admins</h3>
    </div>
  </div>
</div>
